body{
	background:url(../assets/images/hintergrundbild/Hintergrundbild.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: 0;
}
header{
  background-color: rgb(63, 76, 196);
  padding-top:0.1em;
  height: 11.5em;
}
h1{
  font-family: "Chalkduster";
  text-align: center;
  color:orange;
  font-size: 1.7cm;
}
