<header>
  <h1>Digi World Explorer <img id="logo" src="../assets/images/logo/logo.png" width="70px"/></h1>
</header>
<body>
<div class="searchbar">
  <form action="../digimonausgabe" method="GET">
    <input type="text" list="DigimonName" id="name" name="name" placeholder="Suche dein Digimon" size="38">
    <datalist id="DigimonName">
      <option *ngFor="let Digimon of digimon | async" value="{{Digimon.name}}">
    </datalist>
    <button type="submit" id="searchbutton">🔎</button>
  </form>
</div>
<div class="kartenrueckseite">
  <a href="../tabellenseite"> <img src="../assets/images/kartenrueckseite/Rueckseite3.png" width="300px"/></a>
</div>
</body>
