<!doctype html>
<html>
<head>
</head>
<body>
<header>
<h1>Digimon <img id="logo" src="../assets/images/logo/logo.png" width="100px" /></h1>
</header>

<div class="anordnung">
  <div class="searchbar">

      <input id="suche" placeholder="Suche dein Digimon" type="search">
      <button type="submit" id="searchbutton" >🔎</button>

  </div>
</div>

<div class="anordnung">
  <div class="rueckseite">
    <a href="../tabellenseite" > <img src="../assets/images/kartenrueckseite/Rueckseite3.png"/></a>
  </div>
</div>

<router-outlet></router-outlet>
</body>
</html>
