header{
  background-color: rgb(78, 78, 179);
  padding-top:0.1em;
  height: 11.5em;
}

h1{
  font-family: "Chalkduster";
  text-align: center;
  color:orange;
  font-size: 1.7cm;
}

body{
  margin:0;
}

.rueckseite{
position: absolute;
left:900px;
top:355px;
}

.searchbar{
position:absolute;
left:650px;
top:250px;
}

input {
  background-color:white;
  font-size: 25px;
  padding: 15px ;
  padding-right:30px;
  padding-left:40px;
  border: 1px;
  border-radius: 10px;
}

button{
  background-color:white;
  font-size: 25px;
  padding: 15px 15px;
  border: 1px;
  border-radius: 10px;
  margin-left: 5px;
}
