header{
  font-family: "Verdana";
  background-color: rgb(78, 78, 179);
  color:orange;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 1.5em;
}

h1{
  text-align: center;
}

body{
  margin:0;
}

.rueckseite{
position:absolute;
left:1000px;
top:200px;
}

.searchbar{
position:absolute;
left:750px;
top:300px;
}

input {
  background-color:white;
  font-size: 25px;
  padding: 15px ;
  padding-right:300px;
  padding-left:40px;
  border: 1px;
  border-radius: 10px;
}

button{
  background-color:white;
  font-size: 22px;
  padding: 15px 15px;
  border: 1px;
  border-radius: 10px;
}
