<header>
  <h1>Digimon <img id="logo" src="../assets/images/logo/logo.png" width="70px"/></h1>
</header>

<body>
<div class="searchbar">
  <form action="#">
  <input type="search" list="DigimonName"  placeholder="Suche dein Digimon" size="38">
  <datalist id ="DigimonName">

    <option *ngFor="let Digimon of digimon | async" value="{{Digimon.name}}">

  </datalist>
<form action = "../digimonausgabe">
  <button type="submit" id="searchbutton">🔎</button>
  </form>
  </form>
</div>

<div class="kartenrueckseite">
  <a href="../tabellenseite"> <img src="../assets/images/kartenrueckseite/Rueckseite3.png" width="300px"/></a>
</div>
</body>
