h1{
  font-family: "Chalkduster";
  text-align: center;
  color:orange;
  font-size: 1.7cm;
}

body{
  margin:0;

}

.rueckseite{
position: absolute;
  top: 43%; bottom: 0; left: 63%; right: 0;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.73));
}

.searchbar{
position:absolute;
  top: 30%; bottom: 0; left: 45%; right: 0;
}

input {
  background-color:white;
  font-size: 25px;
  padding: 15px ;
  padding-right:30px;
  padding-left:40px;
  border: 1px;
  border-radius: 10px;
}

button{
  background-color:white;
  font-size: 25px;
  padding: 15px 15px;
  border: 1px;
  border-radius: 10px;
  margin-left: 5px;
}
