<header>
  <h1>Digimon Übersicht</h1>
</header>
<!-- Tabelle mit Suchfunktion, Filterbutton, Sortierbutton und Testbefuellung-->
<nav>
  <input type="text" id="textfield" name="textfield" placeholder="Suche dein Digimon!">
  <button class="button" type="submit">🔎</button>
  <button class="button">Filter</button>
  <button class="button">Sortieren</button>
</nav>

<body>
<section class="wrapper">

      <div *ngFor="let Digimon of digimon | async">

          <img src="{{Digimon.img}}">

      </div>

</section>
<a href="../startseite">zurück</a>
</body>
