
  body {
      font-family: Verdana;
      border: 1px none black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 0.5%
  }
  
  nav {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    column-gap: 2%;
    background-color: rgb(109, 109, 115);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    margin: 5%
  }
  
  .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 5%;
      grid-gap: 5%;
      margin: 5%;
  }
  
  .Digimoncard {
      height: 300px;
      width: 280px;
      border: 1px none black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 1%;
      border-radius: 5%;
  
  }
  
  .Digimonimage img{
      display: block;
      margin: auto;
      height: 50%;
      padding-top: 4%;
      position: relative;
  }
  .Digimonimage{
      height: 250px;
      width: 280px;
  }
  
  .Digimonname {
      text-align: center;
      padding: 1%;
  }
  
  button{
    background-color:white;
  font-size: 25px;
  padding: 15px 15px;
  border: 1px;
  border-radius: 10px;
  margin-left: 5px;
  }
  
  input {
    background-color:white;
    font-size: 25px;
    padding: 15px ;
    padding-right:30px;
    padding-left:40px;
    border: 1px;
    border-radius: 10px;
  }