<!-- nötige Element in Tabellen suchfeld, suchbutton, filterbutton, sortierenbutton, tag, zurück button -->
<div>
    <input type="text" id="fname" name="fname" placeholder="geben sie digimonname ein!">
    <button type="submit">suchen</button>
    <button id="filter-button" class="button">Filter</button>
    <button>Sortieren</button>
    <br>
    <div class="content">
        <p>hier ist die ganze Karte von Digimon</p>
        
        <header>DIGIMON</header>
    <main>
        <section class="wrapper">
        
       
          <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div>  <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
        <div class="Digimoncard">
            <div class="Digimonimage">
            !-- <img src = "../../../assets/images/berlin.png"> -->   
            </div>
            <div class="Digimonname">
                <p>Pokemon</p>
            </div>
        </div> 
          
        
        
    </section>
</main>


  

         

  
    <br>
    <button type="submit">zurück</button>

