html{
  background-color: #dadada;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -1em;
  z-index: -1;
}
header {
  background-color: rgb(63, 76, 196);
  padding-top: 0.1em;
  height: 11.5em;
  margin: -1em;
}

h1 {
  font-family: "Chalkduster";
  text-align: center;
  color: orange;
  font-size: 1.7cm;
}

a {
  font-family: "Chalkduster";
  text-decoration: none;
  color: #ef853f;
  position: fixed;
  font-size: 20px;
  font-weight: bold;
  top: 93%;
  bottom: 0%;
  left: 1.5%;
  right: 90%;
  text-shadow: 1px 1px 1px #000000;
}
